@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --cor-primaria: #044fd9;
}

/*----HEADER-----*/


header .header{
    background-color: white;
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-around;
    align-items: center;

}

header .header a img{
    width: 75px;
    height: 75px;
}

header .header .navbar{
    width: 300px;
    
}

header .header .navbar .navMenu{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

header .header .navbar .navMenu .navItem .navLink{
    text-decoration: none;
    color: var(--cor-primaria);
    transition: 0.5s ease;
    font-size: 17px;
}

header .header .navbar .navMenu .navItem .navLink:hover{
    text-decoration: underline;
    
}



header .header .navbar .hamburguer{
    display: none;
    cursor: pointer;
}


header .header .navbar .hamburguer .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: var(--cor-primaria);
    transition: all 0.3s ease-in-out;
}

/*-----RESPONSIVE-- TELA 768PX*/

@media(max-width: 768px){
    header .header .navbar .hamburguer{
        display: block;
    }

    header .header .navbar .hamburguer.ativar .bar:nth-child(2){
        opacity: 0;
    }

    header .header .navbar .hamburguer.ativar .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    header .header .navbar .hamburguer.ativar .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    header .header .navbar .navMenu{
        position: fixed;
        left: 100%;
        top: 70px;
        height: 100px;
        gap: 0;
        border: 0 0 20px 20px;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        background-color: whitesmoke;
    }

    header .header .navbar .navMenu .navLink{
        margin: 16px 0;
    }

    header .header .navbar .navMenu.ativar{
        left: 0;
    }
}

/*----MAINN---*/

main{
    width: 100%;
    justify-content: center;
    position: relative;
}

main .circulo{
    width: 1200px;
    height: 1400px;
    z-index: -1;
    background-color: #0e029c;
    border-radius: 50%;
    position: absolute;
    left: -440px;
    top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    text-align: center;
}

main .circulo #para{
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 0 0 100px 400px;
}

main .circulo .estatico{
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-left: 400px;
    
}

main .circulo .dinamico{
    margin-left: 400px;
    line-height: 39px;
    height: 39px;
    overflow: hidden;

}
.dinamico li{
    margin-left: 7px;
    color: #fff;
    list-style: none;
    font-size: 39px;
    font-weight: 500;
    animation: slide 16s steps(4) infinite;
    left: 0;
    position: relative;
    top: 0;
    letter-spacing: 1px;
   
    
}

@keyframes slide{
    100%{
        top: -157px;
    }
}

.dinamico li span::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left:  0;
    border-left: 2px solid #fff;
    animation: typing 4s steps(25) infinite;
    background: #0e029c;
}

.dinamico li span{
    position: relative;
}

@keyframes typing{
    100%{
        left: 130%;
        margin: 0 -50px 0 50px;
    }
}
/* main .img{
    width: 100%;
    display: flex;
    justify-content: center;
}

main .fundo{
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    top: -250px;
    z-index: -1;
    
} */